* {
    cursor: url('../img/cursor.png'), auto;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h2, h3 {
    color: #2c3e50;
}

form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"], button {
    background-color: #25333d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

input[type="submit"]:hover, button:hover {
    background-color: #2980b9;
    text-decoration: underline; 
}

a {
    background-color: #25333d;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    background-color: #2980b9;
    text-decoration: underline; 
}


input[type="button"], button {
    background-color: #4b7997;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover, button:hover {
    background-color: #2980b9;
}

input[type="hidden"] {
    display: none;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* Admin Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #3498db;
    color: white;
}

table td a {
    color: #3498db;
}

table td a:hover {
    text-decoration: underline;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Success and Error Messages */
.success, .error {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    color: white;
}

.success {
    background-color: #28a745;
}

.error {
    background-color: #dc3545;
}

